<% if (codeRouter) { ignoreFile() } %>
import { createFileRoute } from "@tanstack/react-router";

export const Route = createFileRoute("/")({
  component: App,
});

function App() {
  return (
    <div className="text-center">
      <h1>I'm a customized setup</h1>
    </div>
  );
}
